body {
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #004aad;
    color: white;
}

.card {
    background: #ffffff;
    border: 2px solid #004aad;
    border-radius: 10px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.btn-primary {
    background-color: #ff7300;
    border: none;
}

.btn-primary:hover {
    background-color: #e06200;
}

.btn-success {
    background-color: #25D366;
}

